#tag_cloud
  - tag_cloud Pin.tag_counts, %w[s m l] do |tag, css_class|
    = link_to tag, tag_path(tag.name), class: css_class

#pins.transitions-enabled
  - @pins.each do |pin|
    .box.panel.panel-default
      = link_to (image_tag pin.image.url), pin

      .panel-body

        %h2= link_to pin.title, pin

        %p.user
          %span.glyphicon.glyphicon-leaf
            = pin.get_upvotes.size
          %br/
          Proposé par
          = pin.admin.email

        %p.tags
          - pin.tag_list.each do |tag|
            %span.label.label-teal
              = link_to tag, tag_path(tag)
