#pins_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        = image_tag @pin.image.url(:medium)
      .panel-body
        %h1= @pin.title
        %p.description= @pin.description
        %p
      .panel-footer
        .row

          .col-md-6
            %p.user
              Proposé par
              = @pin.admin.email

            %p.tags
              -@pin.tag_list.each do |tag|
                %span.label.label-teal
                  = link_to tag, tag_path(tag)

          .col-md-6
            .btn-group.pull-right
              = link_to fleur_pin_path(@pin), method: :put, class: "btn btn-default" do
                %span.glyphicon.glyphicon-leaf
                  = @pin.get_upvotes.size

              - if @user == @pin.admin
                = link_to "Edit", edit_pin_path(@pin), class: "btn btn-default"
                = link_to "Delete", pin_path(@pin), method: :delete, data: {confirm: " Etes vous sure?"}, class: "btn btn-danger"
              - elsif @pin.has_participant(@user)
                = link_to "Stop participating", stop_participating_pin_path(@pin), method: :patch, class: "btn btn-danger"
              - else
                = link_to "Participate", participate_pin_path(@pin), method: :patch, class: "btn btn-success"

        %div{ style: 'margin-top: 20px;' }
          %h3 Participants

          %div{ style: 'text-align: center;' }
          - if !@pin.participants.empty?
            %table.table.table-bordered
              %thead
                %tr
                  %td Email
              %tbody
                - @pin.participants.each do |participant|
                  %tr
                    %td= participant.email

          - else
            %h4.text-muted Still no participants
